{
	"country": "fr",
	"region": "fr",
	"BOT_CHAT_ID": "YOUR CHAT ID",
	"BOT_TOKEN": "YOUR BOT TOKEN",
	"DB": {
		"USER": "YOUR DB USER",
		"PASSWORD": "YOUR DB PASSWORD",
		"PORT": "5432",
		"SLAVE": "YOUR DB HOST OR SLAVE IF YOU USE REPLICAT",
		"HOST": "YOUR DB HOST"
	}
}
